<div class="item">
	<!-- 日期分类 -->
	<div class="mark" ng-show="show1">{{day|date:'ddMMM'}}</div>
	<ul class="posts" >
		<!-- 文章 -->
		<li ng-repeat="data1 in datas">
			<span href="javascript:;" class="tag" ng-if="data1.column.name">{{data1.column.name}}</span>
			<div class="cont">
				<h3>{{data1.title}}</h3>
				<div class="brief">
					<p ng-class="{only:data1.display_style == 10001}" ng-if="data1.display_style != 10003">{{data1.abstract}}</p>
					<!--10003-->
					<div class="gallery" ng-if="data1.display_style == 10003">
						<div class="img-box" ng-repeat="pic in data1.thumbs">
							<img src="{{pic.small.url}}" alt="">
						</div>
					</div>
					<!--10002-->
					<div class="thumb" ng-if="data1.display_style == 10002">
						<img src="./uploads/post_1.png" alt="">
					</div>
				</div>
			</div>
		</li>
			
	</ul>
</div>